@using CREFloresEPlantas.Models
@model List<Produtos>
@{
    ViewData["Title"] = "Carrinho";
}
<h1>O teu Carrinho</h1>
<br />
<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Imagem</th>
                <th>Nome</th>
                <th>Preco</th>
                <th>Tipo de Produto</th>
                <th>Cor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/@item.Imagem" width="200px" height="150px" />
                    </td>
                    <td>@item.Nome</td>
                    <td>@item.Preco</td>
                    <td>@item.TiposProdutos.TipoProduto</td>
                    <td>@item.CorProduto</td>
                    <td>
                        <a asp-area="Cliente" asp-action="Remove" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>}
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-6">
        <a asp-action="Index" asp-controller="Home" class="btn btn-success">Voltar atrás</a>
    </div>
    <div class="col-6 text-right">
        @*<h3>Total</h3>*@
        <h3>Preco Total : @Model.Sum(c => c.Preco) €</h3>
        <a asp-area="Cliente" asp-action="Checkout" asp-controller="Order" class="btn btn-info">Checkout</a>
    </div>
</div>

